
    .ReccVideos {
        flex-direction: column;
        flex: 0.8;
        background-color: #f9f9f9;
        padding-bottom: 0;
    }

    @media screen and (max-width: 1200px) {
        .app__Reccomended{
            flex: 0.8;
        }
    }
    
   


.ReccVideos>h1 {
    margin-left: 5px;
    margin-top: 0px;
}

.ReccVideos>hr {
    margin-top: 0px;
}

.reccvideos__videos {
    display: flex;
    flex-wrap: wrap;
}

