.videocard {
    margin-bottom: 40px;
    width: 270px;
    padding: 10px;
}

.videocard__thumbnail {
    height: 140px;
    width: 270px;
}

.videocard__text {
    margin-left: 10px;
    margin-top: 7px;
}

.videocard__info {
    display: flex;
    margin-top: 0px;

}

.videocard__avtar {
    height: 40px !important;
    width: 40px !important;
    z-index: index;
    
}

.videocard__text {
    font-size: 14px;
    font-weight: lighter;

}